[2017-11-20 04:35] 0xh3LL0 opened #1 "can we request specific games?"
just in case its not bother...

[2017-11-20 05:45] marcussacana commented on #1
Yes, but keep in mind this method isn't compatible with all games, I will take a look anyway.

[2017-11-20 05:46] marcussacana commented on #1
No, will keep open, maybe someone try ask the same question.

[2017-11-20 06:27] 0xh3LL0 commented on #1
lol, okay...

[2017-12-18 08:10] 20100157 opened #2 "Game Request: Cartagra ~Affliction of the Soul~"
I saw [the issue](https://github.com/marcussacana/Specific-Games/issues/1), so here I am, lol.

**Game**: Cartagra
**Publisher**: MangaGamer (ENG) / Innocent Grey (JA)
**Format**: .pac (I think Unity port) / .iga
**VNDB**: https://vndb.org/v515

Thanks.

[2017-12-18 08:20] marcussacana commented on #2
too many builds of this game, I think is better you give-me the download link of the version who you wants translate, you can send to my email: ddtank.marcus@gmail.com or just link the vndb release

[2017-12-18 08:43] Greg-xh commented on #2
I sent you the link of the version.

[2017-12-18 20:23] marcussacana commented on #2
Ok working:
![https://comfy.moe/xdfjfm.png](https://comfy.moe/xdfjfm.png)

but keep in mind he don't works accents because contains a pre-rendered font in the game assets, you will need use the unity engine to create a new pre-rendered font and the tool AssetsExplorer to found the font and replace with a custom font created by you in the unity engine...

Or maybe you can just mod the font in the c

[2017-12-19 08:03] Greg-xh commented on #2
Thanks. I think I'll google about the font, because I don't know much about Unity... What a pain.

[2017-12-20 20:12] #2 closed

[2018-01-17 19:46] makc-ar commented on #1
Hi **marcussacana!** How about text tool to A Clockwork Ley-Line: The Borderline of Dusk .DAT http://zenhax.com/viewtopic.php?p=30912#p30912?

[2018-01-18 02:20] marcussacana commented on #1
@makc-ar you want a tool to rewrite the clockwork script?
I think i can try, but you have already tested this?
https://github.com/marcussacana/Specific-Games/blob/master/A%20Clockwork%20Ley-Line%20The%20Borderline%20of%20Dusk.rar

--edit
Softpal Dat Editor Added, You can use my https://github.com/marcussacana/UnisonShiftManager or if you don't want build: https://github.com/marcussacana/SacanaWrap

[2018-01-18 04:15] marcussacana commented on #1
Support Added, You can use my https://github.com/marcussacana/UnisonShiftManager or if you don't want build: https://github.com/marcussacana/SacanaWrapper/releases

[2018-01-21 18:12] makc-ar commented on #1
Thanks a lot **marcussacana**!

[2018-07-30 20:24] Gygarde opened #3 "I Walk Among Zombies"
Idk if this is the right place to ask. Is there a way for deal with the script.noa? (Repack)

https://vndb.org/v16802

[2018-07-30 22:35] marcussacana commented on #3
Duplicate Request, I'm already working into this.
The .noa can be extract with this tool: https://github.com/morkt/GARbro
But have somes issues, i have reported to the tool creator and I keep waiting a response.
After this Just need a way to repack, I haven't looked into this for now.

[2018-07-30 22:35] #3 closed

[2018-10-26 05:59] Cerzs opened #4 "Game Request: Koisuru Natsu no Last Resort & Sora to Umi ga, Fureau Kanata"
**Dev**: Pultop
**Releases**: [This for UmiKana](https://vndb.org/r56551) and [this for KoiRizo](https://vndb.org/r33197).

I need this type of _[chars](https://cdn.discordapp.com/attachments/475037213265100820/505256276717076490/Chars.txt)_.

Thank you.

[2018-10-26 06:15] marcussacana commented on #4
Sure, I will just need a time because i'm working in other game now...
I supose in 7 days I can do it.
![image](https://user-images.githubusercontent.com/10576957/47547788-3aba8e00-d8cd-11e8-90e4-b91fa5315cec.png)

[2018-10-26 06:19] Cerzs commented on #4
No problem, many thanks.

[2018-10-26 22:07] marcussacana commented on #4
KoiRizo added, as extra, if you remove the ; in the SRL.ini (at the ReloadPrefix line),
you can make the game text small, after this just change in the SRL.ini the MaxWidth to fix the wordwrap
![https://up.vidyagam.es/abf437fe-1419-44ea-84a9-82d803361a36-AdvHD_2018-10-26_18-46-41.png](https://up.vidyagam.es/abf437fe-1419-44ea-84a9-82d803361a36-AdvHD_2018-10-26_18-46-41.png)
![https://up.vidyagam.e

[2018-10-27 23:14] Cerzs commented on #4
Thank you! Working.

Is it possible to add these chars?
¡=ｷ
¿=ｱ
Ñ=ｰ
ñ=ｯ

[2018-10-28 05:26] marcussacana commented on #4
Don't worked?
The AdvHD with SRL becomes a utf-16 engine, don't need the chars.lst to works..

[2018-10-28 08:13] Cerzs commented on #4
Oh, yes. It works. Sorry, I ignored that fact about UTF-16.

I'm just new at this. Many thanks again.

[2018-10-30 05:36] marcussacana commented on #4
Added

[2018-10-30 05:36] #4 closed

[2018-10-31 18:58] Cerzs commented on #4
Thanks, really, works great. My friend will be pleased.

As for me, I have a doubt, you see, I like some Alice Soft titles, specifically [Rance 5D-??](https://vndb.org/v2046) and [Evenicle](https://vndb.org/r52349). It's possible to add this to Evenicle, for example? If so, can I request it?

Edit: I noticed that UmiKana .lst are in ANSI, is this intentional or can I change it to UTF-8 without bre

[2018-10-31 23:31] marcussacana commented on #4
Nop, in the true will be a problem if he is in ansi.
About the rance and evenicle, that engine uses a custom font format so the string reloader it's useless, don't exist texture of the characters like á é í ó...

[2018-10-31 23:44] Cerzs commented on #4
I see. Well, thanks anyway! Keep up the good work!

[2018-12-14 20:22] Cerzs opened #5 "Game Request: If You Love Me, Then Say So!"
**Dev**: ChuableSoft
**Release**: [This](https://vndb.org/r46904).

Hello again. Sorry if you're busy, a friend translator is interested in this one and even myself, haha.

Thank you.

[2018-12-14 22:10] marcussacana commented on #5
I Will take a look soon, I have 2 games to work before your request.

[2018-12-20 23:01] marcussacana commented on #5
Added.
But sorry, I can't get the wordwrap work (because this engine have they own breakline opcode), you will need manually test line per line or use an dissassembly tool.

[2018-12-20 23:01] #5 closed

[2018-12-21 03:55] Cerzs commented on #5
Many thanks, @marcussacana. Btw, I'll request another one next year. Will be DameKoi, from MangaGamer, if it's not too much trouble. That'll be a personal project, though.

Thanks again.

[2018-12-21 17:21] marcussacana commented on #5
I created this, https://github.com/marcussacana/MajiroStringEditor
I will test the stability yet, but will allow you break the line free without dissasembly the script.

[2019-02-04 17:48] Cerzs opened #6 "Game Request & Doubt: Cross Channel Steam Edition"
Greetings!

Link: https://vndb.org/r56068

Same engine as KoiRizo and UmiKana.

Now, we're interested in restoring the +18 content in the Steam version using [Final Complete](https://vndb.org/r35224), that would need great programming skills or there is a way to do it?

Thanks.

[2019-03-09 03:23] marcussacana commented on #6
I Know how is a shit this censour but i never tried, I just know shitty method like adding the h-scene scripts and forcing the script before they to jump to the h-scene, this works, but will be a problem if the engine version is too different, the game can show problems with some effects, but isn't all cases.
To this isn't hard, as example:
Censoured Version:
[code]
Uncensoured  Version:
[code]
Wh

[2019-03-12 19:24] Cerzs commented on #6
Hello. Yes, I'm still interested.

I was checking the ws2 files but I couldn't find the name of the next file with 010 Editor.

[2019-03-12 19:48] marcussacana commented on #6
The ws2 is encrypted, you can try this my tool to decrypt... https://github.com/marcussacana/WillPlusManager

To encrypt well:
https://github.com/marcussacana/WillPlusManager/blob/eebf43eeb343e632678345492e4533815b2fef49/WPMGUI/Form1.cs#L106-L106

Change this "Decrypt" to "Encrypt'"

[2019-03-12 20:19] Cerzs commented on #6
Yes, I was using your tool. I thought was this.
![imagen](https://user-images.githubusercontent.com/44489935/54233071-87041480-44e2-11e9-992f-dc4ce2263d65.png)

[2019-03-12 20:23] marcussacana commented on #6
Send me a script encrypted and decrypted.

[2019-03-12 20:34] Cerzs commented on #6
[I used Decrypt with your tool](https://cdn.discordapp.com/attachments/529475786160472077/555125835095343135/CC_11A_en.zip), the file can't be opened now. Also, when I open a ws2, I can't open another without closing WPMGUI and opening it again, then choosing the file.

[2019-03-12 21:11] marcussacana commented on #6
Fixed

[2019-03-12 21:12] marcussacana commented on #6
Here is the next script probabbly, try changed it and play the h-scene to search for bugs,
don't forget to include the images and sounds used in the h-scene
![image](https://user-images.githubusercontent.com/10576957/54236470-588e3580-44f2-11e9-9b0c-c25fd6e5248e.png)

[2019-03-12 21:21] Cerzs commented on #6
Decrypt working. I'll test that asap. Then all that remains is just the SRL for Unicode characters after this.

Thanks again for your time.

[2019-03-12 21:37] marcussacana commented on #6
I will take a look now.
A hint, is possible to you make a 'optional' unc patch, if you create a subdirectory with any name, and copy the AdvHDLang.dll to this directory, just put any .arc and the game will read it optionally
The best part is you don't need put all files in the .arc, it's like a patch, just include modified files, because if the game don't found in the 'optional' directory, he will

[2019-03-12 21:51] Cerzs commented on #6
Oh, that's really a great tip. Many thanks, I'll try!

[2019-03-12 22:37] marcussacana commented on #6
Added.
Working like a charm~
![image](https://user-images.githubusercontent.com/10576957/54240081-d60a7380-44fb-11e9-98d4-bdd520174948.png)

[2019-03-13 05:36] Cerzs commented on #6
I was checking the Final Complete version, it uses .cpk files. I think is not possible to use it with the Steam version.

[2019-03-13 11:37] marcussacana commented on #6
Yeah, you will need a tool that can write ws2 scripts in this case, But I never saw one.
If is everything working, plz, close the issue.

[2019-04-18 13:50] imKota commented on #1
@marcussacana hi! Can you add tools for [Koiken Otome](https://vndb.org/v10608) ?

[2019-04-18 18:29] marcussacana commented on #1
@imKota To the koiken otome I just did a custom font patch, is what you want?

[2019-04-18 18:31] imKota commented on #1
@marcussacana yeah:3 Have you been able to deal with repacking archives?

[2019-04-18 18:38] marcussacana commented on #1
Yeah, the arc_conv did the work.
I just needed force a custom font to translate to my lang.

[2019-04-18 18:40] imKota commented on #1
@marcussacana Hmmm!!!

Can you write instruction how to repack .pack archive for **koiken otome** using **arc_conv**?

[2019-04-18 18:45] marcussacana commented on #1
I don't remember, long time ago...
but probably is in the formats.txt of the arc_conv

[2019-04-18 18:49] imKota commented on #1
@marcussacana Then I wait when add :3

[2019-04-18 18:51] marcussacana commented on #1
Well, in the true is ready, I just don't published it.

[2019-04-18 19:02] imKota commented on #1
@marcussacana you can send me on my email? aleksey-nyaka@yandex.ru

[2019-04-18 19:46] marcussacana commented on #1
@imKota

[Koiken Custom Font.zip](https://github.com/marcussacana/Specific-Games/files/3095943/Koiken.Custom.Font.zip)

See the Gothic Modded.ttf mapping using any other modded version that use this font too, they have the same mapping

[2019-04-18 19:47] imKota commented on #1
@marcussacana thanks!!

[2019-05-16 17:17] Cerzs commented on #6
@marcussacana I didn't want to open a new issue for the same engine, can you add [The Most Forbidden Love in the World ](https://vndb.org/r52352)?

[2019-05-16 18:00] marcussacana commented on #6
I will take a look

[2019-05-18 02:19] marcussacana commented on #6
@Cerzs the StringReloads isn't compatible with kirkiri games, but I think this can solve your problem.
[[MangaGamer] Forbidden Love with My Wife’s Sister [Data].rar](https://github.com/marcussacana/Specific-Games/files/3193558/MangaGamer.Forbidden.Love.with.My.Wife.s.Sister.Data.zip)

[2019-05-18 02:20] marcussacana commented on #6
Can you give a link to download the game?
I downloaded the wrong title...

[2019-05-18 05:19] Cerzs commented on #6
[Here](https://sukebei.nyaa.si/?f=0&c=0_0&q=sekai+de+ichiban+mangagamer). And they've released a [patch](https://t.co/5VO2risVVE?amp=1) for some typos, btw.

[2019-05-19 03:57] marcussacana commented on #6
Added.

[2019-05-23 05:50] Cerzs commented on #6
Hi there, @marcussacana. Just to let you know that it works perfect. But why these -- are appearing in-game when the translated line does not have it?
![4F9kocp](https://user-images.githubusercontent.com/44489935/58228520-f70df280-7cfc-11e9-9748-88b969f32051.jpg)
![ffRFsbM](https://user-images.githubusercontent.com/44489935/58228542-08ef9580-7cfd-11e9-9d59-f798cc58c2d1.jpg)

[2019-05-23 06:17] marcussacana commented on #6
hmm, check in the SRL.ini at "ReloadSufix" if have anything...
If don't fix, enable the LogAll, LogFile, and Debug values in the SRL.ini
and upload to me the SRL.log

[2019-05-23 06:26] Cerzs commented on #6
[Here.](https://cdn.discordapp.com/attachments/505606567282999297/581004688535846961/SRL.log)

[2019-05-23 06:35] marcussacana commented on #6
Hmm, strange, for now you can do the 'wrong way' that is put a match and replace to the SRL
Create a Replaces.lst and put this inside:
[code]

[2019-05-23 06:47] Cerzs commented on #6
I'll try that. I was checking before, removing those -- from the original script (.ws2) also removes them from .lst, but too much work.

[2019-05-23 06:59] marcussacana commented on #6
maybe you can try add in a .lst
[code]
The SRL accept this type of thing, it's like a masked translation... as example:
`You have 9 potions left` can be translated in the SRL with:
[code]
Then you can use this feature to remove the -- too.

[2019-05-23 07:22] Cerzs commented on #6
Hm, I tried but it does nothing, maybe I'm doing it wrong? I added it at the beginning of the file.

[2019-05-23 07:31] marcussacana commented on #6
Well, no idea, the right thing is found from where this -- appears, if is in the original game script but not in the .lst, you can try add in the .lst

[2019-05-23 07:39] Cerzs commented on #6
I'll try then. It's not a big deal anyway, you can close the issue.

Thanks for the help.

[2019-06-09 05:37] sakurahana90 opened #7 "Game Request: Yumekoi Tensei"
Hello, I don't know if this's the right place to ask this, I tried using Stringreload to edit the script of Tinkerbell's game, Yumekoi Tensei but after injecting the exe, I didn't find any string.lst to edit after I ran the game. I need some help, does stringreload support this kind of engine?

You can find the example of exe and script in the patch on their site: http://www.cyberworks.jp/tink_nan

[2019-06-09 07:16] marcussacana commented on #7
The SRL isn't a automatic tool, just inject the dll don't will help much, you need modify the engine and 'proxy' the script with the SRL, then run the game with the SRL in the Debug mode and he will dump the Strings.lst

[2019-06-09 07:59] sakurahana90 commented on #7
what tool used to modify the engine? Is it about inserting the command before original script to link the game with SRL, like what's written in the readme? I don't know how to to that...

[2019-06-09 08:14] marcussacana commented on #7
Yeah it's this, the SRL isn't easy to use.

[2019-06-28 18:56] imKota opened #8 "Game Request: Kizuna Kirameku Koi Iroha"
Hello!
Can you help with unpack/repack .pac and SCRIPT.SRC TEXT.DAT ?

[2019-06-29 02:31] marcussacana commented on #8
what engine?

[2019-06-29 02:46] imKota commented on #8
@marcussacana i think it's SOFTPAL_ADV_SYSTEM
I found [tools](https://github.com/Yggdrasill-Moe/Niflheim/tree/master/SOFTPAL_ADV_SYSTEM) . but pac_text.py not working
[tool.zip](https://github.com/marcussacana/Specific-Games/files/3341323/tool.zip)

[2019-06-29 03:05] marcussacana commented on #8
try this one
https://github.com/marcussacana/UnisonShiftManager
They can edit the text.dat but don't update any offsets, you need manually update the text offset in the script.src, this is complex

[2019-06-29 03:15] imKota commented on #8
@marcussacana

Yes, I know it.

You do not know how to do this?

[2019-06-29 03:17] marcussacana commented on #8
A Little but I never did, because I use my string reloader to inject the text direct in the game memory

[2019-06-29 03:20] imKota commented on #8
Is it hard to use?
It would be nice if there was an example of use.

[2019-07-10 08:14] Gygarde opened #9 "Game Request: Trinoline"
Hi. Do you know if is possible to add SRL to [Trinoline](https://vndb.org/r46953)? Or if there is a tool that can help with that engine + font.

[2019-07-11 09:19] marcussacana commented on #9
I have others game to work yet, when I have a free time i will notify you here.

[2019-07-12 05:32] Gygarde commented on #9
'Kay. Thank you very much.

[2019-07-23 19:50] Arata12 opened #10 "Game Request: DATE A LIVE: Rio Reincarnation"
Hi, I’m interested in translating this game.
Do you think SRL will work on this game?

[2019-07-24 04:51] marcussacana commented on #10
No idea, I'm planning buy the game but not sure yet.

[2019-07-24 17:36] Arata12 commented on #10
I see, anyway thanks for answering

[2019-07-27 18:33] imKota opened #11 "Hello, Goodbye. Patch files not working"
Hello, @marcussacana !

Patch files not working :c

[2019-07-27 20:17] marcussacana commented on #11
Hmm, show what file you moddifed and where you saved

[2019-07-27 20:29] imKota commented on #11
I create file with name "DEBUG" in the HGN_Data directory, start the game. All files unpacked corrected.

open 00.txt

![image](https://user-images.githubusercontent.com/24241471/61999217-f01cab00-b0c4-11e9-95fa-4e0ae4254623.png)

edited text
![image](https://user-images.githubusercontent.com/24241471/61999219-fad74000-b0c4-11e9-89b7-ba026dcad975.png)

launch game and..
1. russian text not working

[2019-07-27 20:41] imKota commented on #9
Hello, @Gygarde
I working with Trinoline. What do you need help with? And what language do you plan to translate?

[2019-07-27 20:42] imKota commented on #11
@marcussacana it's normal? :DD

[2019-07-27 20:46] Gygarde commented on #9
Hi, @imKota!

I want to translate it into Spanish. But I really don't know much about unpacking/repacking minori files. I also don't know if the accents will work.

[2019-07-27 20:47] imKota commented on #9
@Gygarde do you have discord?

[2019-07-27 20:56] marcussacana commented on #11
You tried use latin characters? by your screenshot I think is because the game font don't include the russian characters, then the game can't dispaly the text.
![image](https://user-images.githubusercontent.com/10576957/61999454-acf81300-b097-11e9-8953-865bc78cebd7.png)

[2019-07-27 20:56] Gygarde commented on #9
Yes, but I'm not at home. If you can, give me your user and I can tell the admin, so he can add you.

[2019-07-27 20:57] marcussacana commented on #11
About the script.dat don't change, this is right, my mod don't repack, he just make the game accept the files externally.

[2019-07-27 20:58] imKota commented on #11
Hmmm. Maybe you know how to add support russian characters in this game ?

[2019-07-27 20:59] imKota commented on #9
@Gygarde Kota#1914

[2019-07-27 21:00] marcussacana commented on #11
Sorry but this is more hard, I think you will need found someone who understand the unity engine better than me to this.

[2019-07-27 21:01] imKota commented on #11
xDD

I have problems with him too. It is easier for me to download the old release, which is not on unity and use it.

[2019-07-27 21:02] imKota commented on #11
@marcussacana maybe you know how to change font ???

[2019-07-27 21:03] marcussacana commented on #11
It's around this class, but I never tried to say. (UIAdv)
![image](https://user-images.githubusercontent.com/10576957/61999508-d7969b80-b098-11e9-9995-7cd4b55f6b5f.png)

[2019-07-27 21:05] imKota commented on #11
Thanks :3

[2019-07-27 21:05] marcussacana commented on #11
Take a look in this too
https://7daystodie.com/forums/showthread.php?22675-Unity-Assets-Bundle-Extractor

[2019-07-27 21:07] imKota commented on #11
![image](https://user-images.githubusercontent.com/24241471/61999524-9ff51700-b0cb-11e9-84c9-688af3d38d03.png)

[2019-07-27 21:19] #11 closed

[2019-07-27 21:31] marcussacana commented on #9
If you keep wanting the SRL support you can reopen the issue at any time.

[2019-07-27 21:31] #9 closed

[2019-07-29 08:45] imKota commented on #8
Can you help me with unpack and repack this file ?
DEFAULT_FONT.DAT
[DEFAULT_FONT.zip](https://github.com/marcussacana/Specific-Games/files/3441059/DEFAULT_FONT.zip)

Since the fonts are in this file, changing the fonts by this method:
[code]
Does not work.

![image](https://user-images.githubusercontent.com/24241471/62033953-c31be580-b1f5-11e9-940a-8caa0e3add61.png)

[2019-07-29 08:45] imKota commented on #8
@marcussacana hello!
Can you help me with unpack and repack this file ?
DEFAULT_FONT.DAT
[DEFAULT_FONT.zip](https://github.com/marcussacana/Specific-Games/files/3441059/DEFAULT_FONT.zip)

Since the fonts are in this file, changing the fonts by this method:
[code]
Does not work.

![image](https://user-images.githubusercontent.com/24241471/62033953-c31be580-b1f5-11e9-940a-8caa0e3add61.png)

[2019-07-29 18:41] marcussacana commented on #8
You tried delete this default font file from the game?
Some engines like kirikiri when have the embed font deleted automatically load a system font.

[2019-07-29 18:42] imKota commented on #8
wtf

![image](https://user-images.githubusercontent.com/24241471/62073554-9e515d80-b249-11e9-9858-9f1f530b3e8c.png)

[2019-07-29 18:42] marcussacana commented on #8
Don't care, this is a good signal, this font is easy to edit.

[2019-07-29 18:43] imKota commented on #8
How ?
The first time I come across this font

[2019-07-29 18:43] marcussacana commented on #8
Crystaltile2 or tilemolester tool can open this maybe

[2019-07-29 18:46] imKota commented on #8
don't open:D

[2019-07-29 19:00] marcussacana commented on #8
You tried all avaliable formats?, in your screenshot looks like it's 8bpp or 4bpp

[2019-07-29 19:23] imKota commented on #8
![image](https://user-images.githubusercontent.com/24241471/62076017-52091c00-b24f-11e9-990e-d697f9643de0.png)

I think I can not translate this novel .. since the font I can not figure it out ...

[2019-07-29 19:55] marcussacana commented on #8
You need fix the color table in the bottom part of the screenshot, just use black/gray and white colors.
And the pixel format you selected don't looks the right one yet.

[2019-07-30 15:28] imKota opened #12 "Game Request: Miagete Goran, Yozora no Hoshi o (AdvHD Willplus script)"
Hello, @marcussacana
My friend wants to translate the game "Miagete Goran, Yozora no Hoshi o"

I know that there is a utility **WillPlusManager**

But the utility WillPlusManager is **not convenient...**
Could you suggest or share tools for unpacking/repacking texts?

I was able to unpack the texts.
https://github.com/Inori/FuckGalEngine/issues/5

But with repacking, I don’t know what to do.

[2019-07-30 16:26] #12 closed

[2019-08-01 17:41] #8 closed

[2019-08-05 03:27] marcussacana commented on #10
Take a look: https://github.com/thesupersonic16/DALTools

[2019-08-16 10:26] marcussacana commented on #10
@Arata12 Date A Live Added, any bug you can open the issue again.

[2019-08-18 14:59] imKota commented on #1
@marcussacana can you add tools for (japanese) ?:

1. **Miagete Goran, Yozora no Hoshi o**
2. **Miagete Goran, Yozora no Hoshi o: Fine Days**,
3. **Miagete Goran, Yozora no Hoshi o: Interstellar Focus**

[2019-08-18 16:46] marcussacana commented on #1
Provide me the AdvHD.exe and Rio.arc of all games and I will do when I can, but you will need test it, I don't plan download the entire game to test here.

[2019-08-18 19:48] imKota commented on #1
@marcussacana

[Miagete Goran, Yozora no Hoshi 1,2,3.zip](https://github.com/marcussacana/Specific-Games/files/3513492/Miagete.Goran.Yozora.no.Hoshi.1.2.3.zip)

Yeah))

[2019-08-31 20:51] Cerzs opened #13 "About The Witch's Love Diary"
Hi! I was checking the new feature, congrats, it works great!

I just noticed that +18 DLC... is not included in strings? How can I dump it without breaking everything? lol

Also, do you know any tool for those prologue images? I was looking, but no luck.

Thanks.

[2019-09-01 01:28] marcussacana commented on #13
To create a .lst dump, you can use my [TLBOT](https://github.com/marcussacana/TLBOT), extract the TEXT.DAT using my UnionShiftManager (Don't works with other extractors) and install the sacanawrapper plugin to open the SoftPal script, then in the TLBOT change the client to Cache Only and check the "LST Mode"
![image](https://user-images.githubusercontent.com/10576957/64070724-89982900-cc3e-11e9-9e

[2019-09-01 02:16] Cerzs commented on #13
It seems that my TLBOT is outdated, I don't have VS here so I'll try later. Thx.

GARBro can open the images, yes. But that format does not need unpack/repack?

![imagen](https://user-images.githubusercontent.com/44489935/64070953-c19e6c80-cc3c-11e9-95df-d4c621e33bcb.png)

[2019-09-01 07:42] marcussacana commented on #13
This engine support PNG images, you can just use the GARBro to extract, then change the extension to .pgd and replace the original image.
![image](https://user-images.githubusercontent.com/10576957/64073349-e281b480-cc72-11e9-9312-7276506446d1.png)

[2019-09-01 08:41] marcussacana commented on #1
@imKota I will need of all .dll files in the game directory too, upload it.

[2019-09-01 08:45] imKota commented on #1
@marcussacana
[dll.zip](https://github.com/marcussacana/Specific-Games/files/3563283/dll.zip)

[2019-09-01 09:08] imKota commented on #1
@marcussacana Please tell me do you have no game "Tenkiame" version from denpasoft?
I just bought the English version on [dlsite](https://www.dlsite.com/ecchi-eng/work/=/product_id/RE241417.html), but it is not working.
![image](https://user-images.githubusercontent.com/24241471/64074189-ed5b3a00-ccb0-11e9-8c95-c63d49e86176.png)
![image](https://user-images.githubusercontent.com/24241471/64074213-

[2019-09-01 09:36] marcussacana commented on #1
If you buyed i'm sure they will support you if you ask,
I had no idea what is the cause of the error, I don't know about this engine and game...
The error log is basically empty too.

[2019-09-01 09:39] imKota commented on #1
I understood the problem. She only works on win x86 xDDD

[2019-09-01 17:48] Cerzs commented on #13
Wow, it works. Thank you, @marcussacana! Btw, if you can add the latest compiled version of TLBOT would be amazing... I told a friend to compile it and he was getting errors, but he had to go somewhere and we couldn't check it.

Also, maybe you want to update Ley-Line to the new feature. And if you accept sugestions, I would say that exHIBIT or Minori needs it, those engine are really a pain, but

[2019-09-01 17:48] #13 closed

[2019-09-01 22:30] marcussacana commented on #1
@imKota Looks like I will need download the entire game.
send me links of the same version used by you to my email ddtank.marcus@gmail.com

[2019-09-02 08:28] marcussacana commented on #13
@Cerzs I published the lastest build of the TLBOT, take a look.

[2019-09-02 08:30] marcussacana commented on #1
@imKota I added support to AutoEngineHook to the AdvHD engine, Download the lastest [StringReloads](https://github.com/marcussacana/StringReloads) build,
and do this changes in the SRL.ini
[code]
After this rename the SRLx32.dll to d3d9.dll and launch the game.

[2019-09-02 19:07] Cerzs commented on #13
Hi, @marcussacana. I tried what you told me. I think I'm doing it wrong, the generated .lst is only 400 kb with about 7k lines. I was checking the "database" tab but same result.

If you wanna check, [here's the text.dat](https://cdn.discordapp.com/attachments/475037213265100820/618161027162439693/tex2.zip).

![imagen](https://user-images.githubusercontent.com/44489935/64131229-3f758b80-cd95-11e9-

[2019-09-02 21:32] marcussacana commented on #13
Disable this and restart the TLBOT
![image](https://user-images.githubusercontent.com/10576957/64133903-026ac280-cdb0-11e9-8cd8-e39b116e7b26.png)

[2019-09-02 21:55] Cerzs commented on #13
Is it normal that the only generated file to be this? 1 MB now.

![imagen](https://user-images.githubusercontent.com/44489935/64134308-bcf7c680-cdaa-11e9-807e-a0a758310a3f.png)

[2019-09-02 22:58] marcussacana commented on #13
they don't created the .lst in the original script directory?
that .tbc file can be used with the SRL but isn't the best option.
if you want use the TLBOT-EN.tbc with the SRL, rename to Strings.srl and replace the database, then enable the "Dump" in the SRL.ini, but I really don't recommend this, the TLBOT can create the .lst, that is the best option.

[2019-09-02 23:04] Cerzs commented on #13
I selected the file and configured like you said, after analyzing it just keep "idle" but no files created.

[2019-09-03 00:26] marcussacana commented on #13
I think you did something wrong, but forget then, Try the 'LST Generator' tool [here](https://github.com/marcussacana/StringReloads/tree/master/Help)
Have a readme inside the 7z, take a look too.

[2019-09-03 00:42] Cerzs commented on #13
Lol, I'm really bad at this. Sorry about that! Yes, that works perfect. Thanks.

[2019-09-29 22:43] imKota commented on #1
Hello, @marcussacana!
Can you make tool for Aiyoku no Eustia (BGI) ?

[2019-09-29 23:13] marcussacana commented on #1
it's already in my todo list, but i'm waiting the english translation be released.

[2019-10-16 07:33] imKota commented on #1
@marcussacana hello!
AdvHD not working :c

[2019-10-16 13:06] marcussacana commented on #1
?

[2019-10-16 13:10] imKota commented on #1
@marcussacana i try:

Download the lastest StringReloads build,
and do this changes in the SRL.ini

[code]
After this rename the SRLx32.dll to d3d9.dll and launch the game.

But the game crashes with an error

[2019-10-16 13:28] marcussacana commented on #1
what error?

[2019-10-22 03:01] Galleta-mx commented on #1
Exist a tool, which extracts and repacks the files from Tsujidou-san no Jun'ai Road? For menu translations purpose. Already I have the text stuff resolved. Or I can do a request?
Example:
![Anotación 2019-10-21 215802](https://user-images.githubusercontent.com/56239359/67256754-498b4080-f44e-11e9-8792-5558cdd53d1f.png)

[2019-10-22 04:41] marcussacana commented on #1
What engine?
By menu you mean that?
![image](https://user-images.githubusercontent.com/10576957/67259634-4bb0c780-f46d-11e9-91bd-6f1de6371548.png)

[2019-10-22 12:12] Galleta-mx commented on #1
_Q: What engine?_
According to Garbro, seems it's called "non color".
_Q: By menu you mean that?_
Nope, I mean all the images from the menu, in game, etc.
Like:
![evmode](https://user-images.githubusercontent.com/56239359/67284386-1fac3b00-f49b-11e9-9f47-157388d74b33.png)

[2019-10-22 16:55] marcussacana commented on #1
I never touched in a game with this engine then i can't help...
The SRL is a tool that help translate only texts, not image...

[2019-10-22 16:57] imKota commented on #1
app error))

[2019-10-22 16:58] marcussacana commented on #1
Well well, how Can I help with a crash without any info?

[2019-10-22 16:58] imKota commented on #1
1 min

[2019-10-22 17:03] Galleta-mx commented on #1
Well, it's shame. Thanks.

[2019-10-22 17:13] imKota commented on #1
@marcussacana

SRL.ini
[code]

rename the SRLx32.dll to d3d9.dll and launch the game.

![image](https://user-images.githubusercontent.com/24241471/67310845-2d97a580-f507-11e9-9fe8-f162c19121de.png)

After which I clicked yes and closed the game.

And changed
`AutoEngineHook=true`
to
`AutoEngineHook=false`

 launch game
![image](https://user-images.githubusercontent.com/24241471/67311445-4785b800-f

[2019-10-23 00:46] marcussacana commented on #1
And what error?

[2019-10-23 04:38] Cerzs commented on #1
@marcussacana sorry to bother you here! Just a question, do you know about a tool for YU-RIS engine? Or have you tested SRL with this engine? Tools like yu-ris text replacer are too old.

[2019-10-23 17:11] marcussacana commented on #1
I know, while is possible use the SRL with the yu-ris, the engine use full-width monospaced characters, this means if we translate he show the text like this: "E X E M P L E", I never tried fix that before, so for me, I don't include yuris in my 'translatable engines' list.

[2019-10-23 17:31] Cerzs commented on #1
Oh! I see, that's a shame. I know is a problematic engine... Thank you!

[2019-10-23 19:57] imKota commented on #1
no dialogs T_T

[2019-10-23 20:35] meteoro07 opened #14 "Game Request: Aokana -Four Rhythms Across the Blue-"
I would like to translate this game. (English version)
I think it uses the same engine as Hello, Goodbye (English version).

[2019-10-23 22:40] marcussacana commented on #1
basically, then don't display any error, the SRL just don't translate the text?
if yes, send the log while the 'logall' option is enabled.

[2019-10-23 22:44] marcussacana commented on #14
I already did the mod to this game, but afraid of causing legal problems, I never published.
If you really want translate it and can prove that, I can send the required to translate to you in a private way, by now, try contact me in email or discord Marcus André#0956

[2019-10-23 22:44] #14 closed

[2019-10-23 22:48] imKota commented on #1
[SRL.log](https://github.com/marcussacana/Specific-Games/files/3764860/SRL.log)

[2019-10-24 00:15] marcussacana commented on #1
strange... he recived some input but... the game crashed or worked?

[2019-10-24 00:18] imKota commented on #1
game worked, but text not written to Strings.lst

[2019-10-24 01:48] marcussacana commented on #1
You enabled the Debug in the SRL.ini?

[2019-10-24 01:48] marcussacana commented on #1
I think i will need take a look someday then, give a link to the game.

[2019-10-26 00:34] marcussacana commented on #1
@imKota
for some reason the version used of the AdvHD in that game don't use the SysAllocString, and this is the 'injection point' to the SRL, then basically, you can't do a auto-install in this game, just manually...
But i'm not with time to do now, if you really need I can do it later...

[2019-10-26 04:09] imKota commented on #1
strange..

It would be very good if you could do it. I'll wait:3

[2019-11-03 05:22] imKota commented on #1
Hello, @marcussacana
How about livemaker engine support?

[2019-11-03 06:16] marcussacana commented on #1
No idea, I don't know about this engine,
But It's safe say 'only manually', the SRL can be auto-installed in very few engines that have a common export before render all dialogues, and this is a 'rare' characterist of a engine, currentlly, I only know about the AdvHD, SoftPAL and ExHibbit

[2019-11-03 19:42] Cerzs commented on #1
Hey, @marcussacana. A doubt... about Sacana tho... I've extracted the key from a game with ExHibit engine, any way to add it to Sacana?

[2019-11-03 20:02] marcussacana commented on #1
In the lastest version, you can create a RLDKeys.txt file in the directory with the key in decimal or hexadecimal (using 0x prefix)

[2019-11-04 00:32] Cerzs commented on #1
Like this?

0xE15BA55E

![imagen](https://user-images.githubusercontent.com/44489935/68094630-ebf8ea00-fe78-11e9-8fca-58ba353053b6.png)

[2019-11-04 05:44] marcussacana commented on #1
Yeah, if not work try the plugin directory too

[2019-11-04 08:09] Cerzs commented on #1
Thanks! Working. Just a detail, is it normal that I can't just drag&drop? It only works with the command line.

[2019-11-04 14:47] marcussacana commented on #1
sometimes, if the script is a plain text can give error.

[2019-11-04 17:24] Cerzs commented on #1
I'm trying with .rld and shows "unknown encryption key" via drag&drop, but with command line all ok...

[2019-11-04 18:17] marcussacana commented on #1
I see, is because the window initialize the process with the wrong working directory (aka CD) and the RLDManager failed to find the RLDkeys.txt, maybe if you put the RLDKeys.txt in the same folder of the script can works...?

[2019-11-04 18:24] Cerzs commented on #1
Oh! It works, thank you!

[2019-11-15 21:57] marcussacana commented on #7
Well man, I tried but this engine have a specified string length, and the SRL only support null-terminated strings, then if we use the SRL in engines like of this we can see many bugs.
![image](https://user-images.githubusercontent.com/10576957/68978471-9c4fe200-07d9-11ea-8eae-6d8cf49bb73b.png)
So it's this...

[2019-11-15 21:57] #7 closed

[2019-12-05 18:01] scese250 opened #15 "Game request: Atelier Ryza (G1T images)"
Hi, I know you work mainly on visual novels but my friends said that you can help me :)

I wonder if you can help me to add support to the newest G1T (image format) to an existing tool, I have plans to translate the game but Gust had updated the G1T format.

This tool can unpack and repack G1T images, but the author has been inactive for 1 month :/ https://github.com/VitaSmith/gust_tools

This is

[2019-12-05 18:40] marcussacana commented on #15
looks like have more tools too, you tried this one?
https://github.com/Raytwo/G1Tool

Well, I recommend not having too many expectations on me because I have little experience making texture tools, I will try later but I may not be able to help you with that.

And when I say later maybe you need wait the end of the year, maybe not...

[2019-12-05 20:08] scese250 commented on #15
Doesn't work, the header is different... I've tried differents tools such like g1tRePack, HyoutaTools, Kuriimu, LINKDATA, no luck.

No problem, I'll wait. 👍

[2019-12-08 04:59] scese250 commented on #15
Gust_tool's creator appeared and added support for the new g1t, thanks for you interest!

[2019-12-08 04:59] #15 closed

[2019-12-10 23:18] Cerzs commented on #6
Hey, @marcussacana! Sorry about resurrecting an old issue, I just have a problem. You know this engine changes " for \d, yeah? But all .lst does not have them so is more comfortable. It would be too much effort adding it from scratch because the translation is already very far.

Do you think that would be possible changing in the .ini this configuration or something? I want this:

Actual: "Hello."

[2019-12-11 03:29] marcussacana commented on #6
I don't get your problem, what you need? try explain again.

[2019-12-11 03:41] Cerzs commented on #6
Ah! Sorry, I confused symbols. The engine uses \d as quotation marks.

Example:

In-game would be:

But due to language rules, we need the dot after quotation marks. Like this:

[2019-12-11 06:16] marcussacana commented on #6
you can't put the \d because the SRL is doing this automatically?

[2019-12-11 07:02] Cerzs commented on #6
Yes, basically. Putting \d in the .lst would cause this:

[2019-12-11 07:03] marcussacana commented on #6
Wait, you are puting \d using the SRL.ini Prefix/Sufix?
Enable the LogFile and LogAll in your SRL.ini, start the game in the problematic dialogue, and upload your SRL.log, I can't get what are you trying do yet.

[2019-12-11 07:06] Cerzs commented on #6
It's easy, look at this:

![imagen](https://user-images.githubusercontent.com/44489935/70599264-1b5eed00-1bc3-11ea-871f-701a86f4df64.png)

![imagen](https://user-images.githubusercontent.com/44489935/70599316-392c5200-1bc3-11ea-82f9-e23e860537ed.png)

As you can see, I don't have those \d that works as quotation marks.

[2019-12-11 07:09] Cerzs commented on #6
Maybe because this?

![imagen](https://user-images.githubusercontent.com/44489935/70599508-a7711480-1bc3-11ea-97d1-92ebf167c90e.png)

[2019-12-11 07:18] marcussacana commented on #6
Yeah, this can affect it... well
try do this:
put the \d in the english line and in the translation too.
Test if works, if show what the game display and the log in this part

[2019-12-11 07:26] Cerzs commented on #6
[SRL.log](https://github.com/marcussacana/Specific-Games/files/3948944/SRL.log)

I get this:
![imagen](https://user-images.githubusercontent.com/44489935/70600313-c83a6980-1bc5-11ea-80e6-72729318e78b.png)

Also yes

3:24 a. m.: Trim Request:
Ori: \dSo now it's going to snow, too? Ugh...!\d%K%P
Str: \d¿Entonces ahora también va a nevar? ¡Ugh...!\d.
3:24 a. m.: Trim Result: \d¿Entonces ahora también

[2019-12-11 07:41] marcussacana commented on #6
You don't need do manually, I think I can add a manual feature to solve your case, just a sec.

[2019-12-11 07:46] marcussacana commented on #6
I published a update, try add `::NOTRIM::` in the begin of the translation line in the .lst,
then manually put the \d in the translation line.

[2019-12-11 08:04] Cerzs commented on #6
It's ignoring the command, I guess:

![imagen](https://user-images.githubusercontent.com/44489935/70602578-2289f900-1bcb-11ea-96bd-569f64f05b53.png)

It's ok?

![imagen](https://user-images.githubusercontent.com/44489935/70602634-39c8e680-1bcb-11ea-9f99-1a8970e86e22.png)

Btw, no LogAll in this version? Or just a name change?

[2019-12-11 08:13] marcussacana commented on #6
Yeah, I changed to Verbose, I think it's a better name for this option.

[2019-12-11 08:14] marcussacana commented on #6
It's okay, just test it and show the log in this part if don't work.

[2019-12-11 08:16] Cerzs commented on #6
Got it working but...

Modified lines (No command):

\dU-Ugh... Ghg... ¿Ah...?\d.

Result:
![imagen](https://user-images.githubusercontent.com/44489935/70603297-98429480-1bcc-11ea-8141-c908112fe511.png)

Modified lines (With ::NOTRIM::):

::NOTRIM::\dU-Ugh... Ghg... ¿Ah...?\d.

Result:
![imagen](https://user-images.githubusercontent.com/44489935/70603378-d049d780-1bcc-11ea-9573-31507db9ea4f.png)

[2019-12-11 08:19] marcussacana commented on #6
Man, screenshot don't give me enough details, when you want me to see the reason of a problem, always provide the log.

[2019-12-11 08:23] Cerzs commented on #6
Sorry about that, I was checking one last time before send it. I'm going to sleep because almost 5 am here. Maybe you can check by yourself when you have time, don't worry about it.

[SRL.log](https://github.com/marcussacana/Specific-Games/files/3949140/SRL.log)

[2019-12-11 08:33] marcussacana commented on #6
try again with the last.

[2019-12-11 08:46] Cerzs commented on #6
Same thing, working but merging the next line.

[SRL.log](https://github.com/marcussacana/Specific-Games/files/3949248/SRL.log)

[2019-12-11 08:59] marcussacana commented on #6
Strange, I think i will need download the game and see by me self,
you can do the first working method fine, but if you want me to fix that send to my email your problematic .lst, a save game and a link to me download the game.

But one thing before, you removed the \d from the trimlist before, but you added it again to test the ::NOTRIM:: ?

[2019-12-11 09:11] marcussacana commented on #6
ohh, include your srl.ini too

[2019-12-11 17:38] Cerzs commented on #6
@marcussacana Yes, I included it and same. But yeah, I can use the first method easy, so no problem. A last question before closing this, would it be possible to change the windows title through SRL?

![imagen](https://user-images.githubusercontent.com/44489935/70645459-6d336180-1c1b-11ea-9d03-3a05564f6409.png)

[2019-12-11 18:06] marcussacana commented on #6
try enable this
![image](https://user-images.githubusercontent.com/10576957/70647493-d1f4b900-1c27-11ea-9500-48016bb23208.png)

[2019-12-11 18:26] Cerzs commented on #6
Ah, nope, it doesn't hook. Maybe because the title is in a .lua?

[2019-12-11 19:39] marcussacana commented on #6
You take a look if he display the text in the log?

[2019-12-11 20:10] Cerzs commented on #6
[SRL.log](https://github.com/marcussacana/Specific-Games/files/3952336/SRL.log)

Just this or similars

I tried the decrypt option from Willplus manager, but no luck.
[Script.arc~.zip](https://github.com/marcussacana/Specific-Games/files/3952360/Script.arc.zip)

[2019-12-11 20:17] marcussacana commented on #6
Upload this game exe to me.

[2019-12-11 21:18] Cerzs commented on #6
[AdvHD.zip](https://github.com/marcussacana/Specific-Games/files/3952616/AdvHD.zip)

[2019-12-11 21:51] marcussacana commented on #6
try enable the SetWindowText in the srl.ini

[2019-12-11 22:08] Cerzs commented on #6
I just managed to change the config title, is the configuration that opens before the game.
[SRL.log](https://github.com/marcussacana/Specific-Games/files/3952809/SRL.log)

![imagen](https://user-images.githubusercontent.com/44489935/70664480-d8dbf580-1c40-11ea-8c69-1faf9bb4c72b.png)

Edit: Yep, only catch the configuration window, maybe the game only read those .lua...

![imagen](https://user-ima

[2019-12-11 22:15] marcussacana commented on #6
I see... maybe is a problem with the handler cache then...
Test a thing to me, the AdvHD allow skip this config window, try skip it and see if you will can translate the title of the game window after that.

[2019-12-11 22:55] Cerzs commented on #6
Tested, nothing.

Edit: Do you know how to restart the config window? I was looking for a cache file, but nothing.

[2019-12-12 05:48] marcussacana commented on #6
he don't store the cache in your disk, it's in the memory when the game starts, to solve your problem he need dispose the cache after config window close, but the SRL didn't expected 2 windows to the game.

[2019-12-12 06:05] marcussacana commented on #6
Well, I think is more easy you edit the .exe manually or the .ws2...

[2019-12-12 18:27] Cerzs commented on #6
Welp, thanks anyway.

Edit: This doesn't have anything to do with it, but the LST generator does not extract the names

![imagen](https://user-images.githubusercontent.com/44489935/70740368-60803d80-1cef-11ea-996e-de6a302b2af3.png)

![imagen](https://user-images.githubusercontent.com/44489935/70740389-70981d00-1cef-11ea-97cb-d9c6b161703d.png)

[2019-12-12 18:27] #6 closed

[2019-12-12 21:59] marcussacana commented on #6
Maybe is your filter settings in the .ini of the LST generator.

[2019-12-12 22:27] Cerzs commented on #6
Do you have an example?

;DenyList=@\n§\n$\n_\n<\n>\n/\n[\n]\n\
;QuoteList=<>\n()\n[]\n“”\n［］\n《》\n«»\n「」\n『』\n【】\n（）\n''\n""
IgnoreList=_
TrimList=
Sensitivity=3
AsianInput=false
Filter=false

[2019-12-13 05:21] marcussacana commented on #6
hmm, is already disable, then not sure why, maybe you don't used the -Dump.bat to generate the lst?

[2019-12-13 06:58] Cerzs commented on #6
@marcussacana I tried all. Maybe you could try it.

[ws2.zip](https://github.com/marcussacana/Specific-Games/files/3959414/ws2.zip)

[2019-12-13 07:00] marcussacana commented on #6
you have sure the plugin is updated?

[2019-12-13 07:01] Cerzs commented on #6
I tried a fresh install from Plugin Manager.

[2019-12-13 07:06] marcussacana commented on #6
try open the WillPlusManager.ini and replace the file text with this:
[code]
Looks like It's outdated...?
If don't dump any .ws2 after you edit, try copy the .dll from the WMGUI to the Plugins directory manually

[2019-12-13 07:10] Cerzs commented on #6
Yep, it looks like was outdated. Fixed, thank you! And sorry for all the trouble!

[2019-12-13 07:12] marcussacana commented on #6
You edited the .ini only or copied the dll to works too?

[2019-12-13 07:13] Cerzs commented on #6
I edited the .ini then copied the .dll

[2020-03-06 01:39] imKota commented on #1
@marcussacana can you make patch for NEKO-NIN exHeart ?

[2020-03-06 04:16] marcussacana commented on #1
What engine?

[2020-03-06 04:16] imKota commented on #1
yu-ris

[2020-03-06 04:18] marcussacana commented on #1
Hmm, Outdated version of the YU-RIS isn't compatible with the SRL, but if isn't very old maybe I can do something....
But You can expected to wait 2 or 3 months, 2020 I will be less active in the community because of my school.

[2020-03-06 04:21] imKota commented on #1
But **Fraternite** v490
![image](https://user-images.githubusercontent.com/24241471/76051166-fc31ea80-5f7a-11ea-827d-c5b30964b1a1.png)

And **NEKO-NIN** v500
![image](https://user-images.githubusercontent.com/24241471/76051197-179cf580-5f7b-11ea-885e-017ce33077de.png)

[2020-03-06 04:23] imKota commented on #1
And this is the new release of 2019
https://vndb.org/r65979

[2020-03-07 01:43] DSHinako21 commented on #1
@marcussacana Hello bruh
Can you help me edit the name character and choice in Imouto Paradise 3 (JP version). Thanks first!

[2020-03-23 01:42] Arata12 commented on #10
could you update the .exe? the original one (1.00.00) has some bugs, they already solved. the latest version is 1.00.02.

[2020-03-23 13:13] marcussacana commented on #10
If you can upload the new version to me and send to my email, yes, but will take a time

[2020-03-24 04:11] Arata12 commented on #10
The whole game? or just the .exe? I mean, I think you can work with the "old" version and only replace the .exe, If you need the whole game, I can upload it in some days. I'll attach the .exe

[DATE A LIVE RIO-REINCARNATION.zip](https://github.com/marcussacana/Specific-Games/files/4373102/DATE.A.LIVE.RIO-REINCARNATION.zip)

[2020-03-24 04:50] marcussacana commented on #10
If work well, whatever, I will left this issue open and I will take a look when I have time

[2020-03-24 05:32] Arata12 commented on #10
Okay, thx.

[2020-03-24 21:37] imKota commented on #1
Hello, @marcussacana
Can you make patch for this game? https://vndb.org/v18852
The engine is the same as in the game "Chrono Clock".

[2020-03-25 05:34] marcussacana commented on #1
my request queue is became bigger in those days, huh

[2020-03-25 05:36] imKota commented on #1
Please xDDDD

[2020-03-25 05:39] DSHinako21 commented on #1
@marcussacana still waiting for my request 🐧

[2020-04-02 11:05] imKota commented on #1
@marcussacana any news ?

[2020-04-02 18:17] marcussacana commented on #1
I begin work with the neko exheat, but as allaways, the yu-ris engine is a pain in the ass.

[2020-04-02 18:19] imKota commented on #1
Yeah xDDD

[2020-05-11 22:08] imKota commented on #1
@marcussacana can you add tools for Making＊Lovers eng ver (bgi engine)?

[2020-05-11 22:28] Galleta-mx commented on #1
Do you have any problem with bgi?

[2020-05-11 22:30] imKota commented on #1
yeah (((

[2020-05-11 22:36] imKota commented on #1
@YomiPlays Maybe you know how to do it?

[2020-05-11 22:42] Galleta-mx commented on #1
You don't need SRL, tho.
There're some tools for bgi out there. For wich language wanna make a patch?
https://i.imgur.com/AhpRGnP.png
Tested on ML steam version.

[2020-05-11 23:01] imKota commented on #1
@YomiPlays for russian.

I tried without srl, but line breaks do not work correctly, and the words break off in the middle.

[2020-06-24 09:35] marcussacana commented on #1
@imKota Looks like the SRL isn't compatible with the JP ver of this game, the EN is compatible, but that version use images as font then we can't add characters very easy, basically I can't do much without really create tools to the YU-RIS.
Then I will forget your request :( Sorry

Next one will be Imouto Paradise 3, follow [#4](https://github.com/marcussacana/RLDManager/issues/4)

[2020-06-24 12:37] marcussacana commented on #1
@imKota Isn't better wait the english release before?

[2020-06-24 12:41] imKota commented on #1
@marcussacana We are translating this visual novel from the Japanese language. Therefore, there is no point in the English release.

[2020-06-24 12:42] imKota commented on #1
So bad :ccccc

We have already translated two parts of this visual novel xD

[2020-06-24 12:44] marcussacana commented on #1
maybe you still can do something with the EN, you will need a repacker tool and try add the characters to the font package.
this is what I did to the EN release
[NekoNin ExHeart.zip](https://github.com/marcussacana/Specific-Games/files/4825422/NekoNin.ExHeart.zip)

[2020-06-24 12:45] marcussacana commented on #1
@imKota send a download link to my email of the Amatsutsumi, if possible from google drive

[2020-06-24 12:46] imKota commented on #1
Thank you, I will try and write how I will finish

[2020-06-25 12:28] marcussacana commented on #1
@imKota Amatsutsumi added, test it.

[2020-06-25 12:32] marcussacana commented on #1
@imKota about the `Making＊Lovers`, there no need to me do something,
If you want use special characters, all you need is download the SRL, put in the game directory and rename to d3d9.dll
Then use this settings in the SRL.ini
at `[Hooks]` set `TextOutA=true`
and at `[TextOutA]` set `UndoRemap=true`

After that all you need is create a Chars.lst, like any other game here, then put the fake characte

[2020-06-25 12:39] marcussacana commented on #1
With this I think all requests here is ok.
late but done.

[2020-06-25 12:39] marcussacana commented on #10
Your request is the next in my queue. I will check soon.

[2020-06-25 14:28] imKota commented on #1
Strange, I have a startup error. Did it work for you?

[2020-06-27 17:31] marcussacana commented on #10
@Arata12 Added, Looks like you're AFK, then I will close the issue to you, if you found any problem you can open it again

[2020-06-27 17:31] #10 closed

[2020-08-06 14:26] Tfausx opened #16 "Request Sayonara o Oshiete ~Comment te Dire Adieu~"
Hello Marcus, i hope you're having a nicely day, i was wondering if it possible to make a tools for this game:

Sayonara o Oshiete ~Comment te Dire Adieu~ (download edition), it is a really good denpa game (there's not too much vn's with that genre). Aside of that, the game have two releases (normal) and and updated release (Win7 + supports), this new release uses Siglus Engine! I will give you th

[2020-08-06 14:52] marcussacana commented on #16
Use this tool: https://github.com/marcussacana/SiglusSceneManager
What here how: https://www.youtube.com/watch?v=jYc-uxZRsIg

[2020-08-06 18:15] Tfausx commented on #16
Everything works perfect, thanks again for you hard work, you're really awesome man! But i have a problem, when i repack the game, doesn't recognize the new translation (in-game scrips) but the scripts of days (game shows you in the bottom of the window a name of the days of the game) are recognized with the translation.

I sent you an screenshot so you can understand better what i say

https://i.

[2020-08-06 18:37] marcussacana commented on #16
No idea, srry.

[2020-08-06 19:01] Tfausx commented on #16
Fixed, was a mistake from my part xD, sorry for the trouble and again thanks for all! Have a nice day!

[2020-08-06 19:01] #16 closed

[2020-08-08 01:41] Blitz0001 opened #17 "Game request: Adabana Itan"
Hello, I hope you're having a nice day!

I would like to know if there are or could you develop tools for Adabana Itan aka Adabana Odd Tales. The engine is Silky Engine.
I don't know if you need any more info about the game, I'm relatively new with VNs. Sorry for the inconvenience.

Thank you in advance!

[2020-08-08 02:44] marcussacana commented on #17
Read this https://github.com/marcussacana/SacanaWrapper/issues/7

--Edit
Looks like the creator of the issue deleted it for some reason, new link:
http://web.archive.org/web/20201110064318/https://github.com/marcussacana/SacanaWrapper/issues/7

[2020-08-08 17:40] SrDoggo0001 commented on #17
Thanks, man. I'll check it out.

[2020-08-08 17:40] #17 closed

[2020-08-25 12:40] GreenNBlacko commented on #1
Hey @marcussacana
could you make a tool for https://vndb.org/v13108?
it's the cmvs engine also used for hapymaher, amatsumi, etc, which already have patches here, so I'm guessing you'd be familiar with it

[2020-08-26 00:12] marcussacana commented on #1
Send me a download link of the game to my email

[2020-08-26 18:31] GreenNBlacko commented on #1
Hey @marcussacana
just checking in if you got the game files

[2020-08-26 18:47] marcussacana commented on #1
Yes.

[2020-08-27 02:00] marcussacana commented on #1
@GreenNBlacko Will take more time because I want give a try to create a auto-install, and I already have a good progress :)
![image](https://user-images.githubusercontent.com/10576957/91375022-f01f3b00-e7ef-11ea-8e72-bbe6959b955b.png)

[2020-08-27 02:02] imKota commented on #1
@marcussacana for cmvs engine?

[2020-08-27 10:13] marcussacana commented on #1
Well, yes

[2020-08-27 16:34] GreenNBlacko commented on #1
Also, one more question--
will it be able to replace character names?

[2020-08-27 21:16] marcussacana commented on #1
Of course, As you can see, I don't said is 'ready' because I need ensure that he will translate the name and choices

[2020-08-28 10:23] marcussacana commented on #1
Initial version published, Not very stable yet.
I need to test the SRL in a english CMVS game before continue, not time to do that right now.

[2020-09-01 15:46] Blouter opened #18 "Game request: Jisatsu no Tame no 101 no Houhou"
Hello, marcussacana, one of my friends it's interested on translated this game into french language, so i was wondering if it possible to you make a tool for this game, the font of the game it's an archive with .fnt extention, also, all the other archives (images - scripts) there are compressed inside of .dat single file.

Thanks!

[2020-09-01 16:08] marcussacana commented on #18
I will give a look, but in the last days I don't have such free time because i'm working now.

[2020-09-01 17:19] Blouter commented on #18
No problem, i'm not in a hurry, take your time, i will wait! Thanks in advance!

[2020-09-11 22:23] marcussacana commented on #18
Send a download link (gdrive if possible) of the game to my email

[2020-09-12 16:33] Blouter commented on #18
Sent it

[2020-09-12 22:53] marcussacana commented on #18
I think something like this (not tested) can decrypt the .dat header.
[code]
Well, it's a small progress, when I have more time I will continue

[2020-10-07 04:40] Blouter commented on #18
thanks, i hope this can be done! take your time and thanks for the effort again 👍

[2020-10-09 19:51] vnlovers opened #19 "Game request : Mamagoto ~Mama to Naisho no Ecchi Shimasho~"
Hi, I’m interested in translating this game for myself. I would be really glad if you could help me.

[2020-10-23 00:07] marcussacana commented on #18
I will return working into this when I buy a SSD to my computer, probabbly in the begin of the new year?

[2020-10-25 04:19] Blouter commented on #18
perfect! i will keep an eye on this! thanks for your time, stay safe and have a nice day!

[2021-02-16 05:55] Tfausx opened #20 "Game Request: Kara no Shoujo - The Last Episode (Help only with font)"
Hello marcus, i hope you're having a good night! I was wondering if you can give me a hand with the font of this game to add special characters with special font modified, the engine used in the game it's "Innocent Grey Engine" with .iga format for the archives and .s for the texts.

I was investigating the game and the only archive realated to a "Font" it's a .dll inside of plugin folder of the g

[2021-02-16 12:39] watanuki88 opened #21 "Game Request : [Guilty] Toriko no Kusari"
Hello, I really need help for this.

I have tried to use String Reloads with Auto Install and I made two changes in the .ini files that is AutoInstall to true and Shift-JIS to utf-18 since this game's engine is willplus AdvHD.

I changed the name of dll to be d3d9.dll but when I run the game, after passed the graphic setting dialog, the game force closed without warning while leaving a dump file a

[2021-02-16 12:45] marcussacana commented on #21
Sorry but I can't work with games of this engine.

[2021-02-16 12:45] #21 closed

[2021-02-18 10:20] marcussacana commented on #20
Innocent Grey - I can't work with this engine, sorry

[2021-02-18 10:20] #20 closed

[2021-03-08 09:10] GreenNBlacko opened #22 "CMVS translator issues"
There's a few issues with word wrapping(though it's not really that bad) and the backlog only works in the first chapter(it crashes the game when opening backlog on any other chapter).
and even when it does work, it shows up like this:
![image](https://user-images.githubusercontent.com/45263750/110299868-e8421e00-7ffe-11eb-86ac-9413042af260.png)

I'm also thinking if it's possible to override imag

[2021-03-08 10:03] marcussacana commented on #22
the CMVS Auto-Install currently only support english games.

[2021-03-08 10:25] GreenNBlacko commented on #22
I'm using the tool made for hapymaher fragmentation dreams

[2021-03-08 16:35] GreenNBlacko commented on #22
After tinkering around with text I found that if full width romaji is used in the string lists, it shows the text without doing that, however that would take a really long time to edit(I did try making a chars.lst file but as that also replaced the directory names, the game crashes)
![image](https://user-images.githubusercontent.com/45263750/110350548-81dbf080-803c-11eb-9fb9-1541bab98552.png)
and

[2021-03-10 17:23] GreenNBlacko commented on #22
I managed to figure out what was causing the issue of the backlog making the text appear like this and well I found it out, it was the font. Basically the base font only featured japanese characters, therefor the engine didn't know what to do with them so it produced issues, by changing it to a font that includes english characters through cvmsconfig.exe(I used the translated version from hapymahe

[2021-03-10 17:55] marcussacana commented on #22
Good discovery indeed, sorry, I'm without time to work with my tools since I got an job, but if you find exactly what is happening maybe I can spend a bit of my time to create an hotfix.

[2021-03-10 18:05] GreenNBlacko commented on #22
hmm, so far I don't really have an idea, the logs don't really come up with anything, the only concerning thing would be this:
![image](https://user-images.githubusercontent.com/45263750/110675198-4d526b00-81db-11eb-85cb-fbe950814faf.png)
enabling debug mode doesn't really come up with anything significant either
![image](https://user-images.githubusercontent.com/45263750/110675722-e3869100-81db-1

[2021-03-10 18:25] marcussacana commented on #22
The Debug mode only work with self-builds, download the source, compile, and replace the game SRL.dll

[2021-03-11 09:45] GreenNBlacko commented on #22
After experimenting with the lines, I think I have found the culprit, though I can't really say for sure now
![image](https://user-images.githubusercontent.com/45263750/110767463-f55d4800-825e-11eb-8c7d-df0cb9a98846.png)
looking at the file, the first reload did not feature indents, but as soon as I tried opening the backlog with a line that has the indents, SRL freaks out starts replacing the lin

[2021-03-11 09:58] marcussacana commented on #22
Indeed it's strange, and is the last thing of the log as well, this made it more suspect...
I will give a try when I have a bit of time.

[2021-03-13 16:33] marcussacana commented on #22
Maybe tomorrow I will have a bit of free time to take a look

[2021-03-14 17:36] marcussacana commented on #22
I take a look here, then what I saw is..

1 - The backlog corruption isn't caused by the font, but as I initially thought, it is a problem with the Japanese version of the game.
Q: Then, Why worked with you?
R: Because you replaced the game executable with the English version, as we can see in your screenshot with the settings menu in english, they can be a different executable, but I supose you c

[2021-03-14 18:14] GreenNBlacko commented on #22
Another thing I wanted to ask
when I was using wordwrap, I noticed that it doesn't really do much, my question being, is it just me who doesn't know how to use it or does it just not work that good?

[2021-03-14 18:18] marcussacana commented on #22
Wordwrap works fine, only in some few games that don't works (like neptunia).
The builtin wordwrap it has made to monospaced fonts, games that use multi-spaced font the wordwrap don't will works.
and this isn't the case of this game.

to the Wordwrap works you must before anything setup the best font and size to your translation, then ensure to keep the hook enabled to force the game use allways t

[2021-03-14 18:22] marcussacana commented on #22
[code]
Relative width are made more for games, games usually have different places to show text, and this mean there are different of amount of character per line supported, the RelativeWidth will dynamically set the max amount based in the input line dialogue, then use this amount as reference to translation line.

The RelativeWidth as you can see is an expresion that are JIT evaulated and can dy

[2021-03-14 19:24] GreenNBlacko commented on #22
also looking at the start files it seems as though there is some kind of override for it
![image](https://user-images.githubusercontent.com/45263750/111081306-4beeae80-850b-11eb-9457-6b4ad4626727.png)
like there are the cpz archives and then a directory with the same name as the cpz(?) could be either just how it reads the archive contents or an override location, where if content is missing(like

[2021-03-14 20:10] marcussacana commented on #22
yeah, don't will be that easy... and I said, i have no free time to create something better to this engine.

[2021-03-18 15:38] #22 closed

[2021-04-14 23:19] Tfausx opened #23 "About Fraternite"
Hi Marcus! I hope you're having a great day! I have one question about Fraternite, i was checking the .lst scripts in the StringReloader folder and i can't found the first dialogues of the game, then i start the game i see there's a Strings.lst single file who "takes" all the texts of the game of the part you're already played. My question is, in order to translate the game, first i need to finish

[2021-04-14 23:32] marcussacana commented on #23
Ohh, that a old title, I really don't remember, but if my dump missed lines, you really can just run the game to force dump.
If isn't a jrpg then you can just skip the whole game and the Strings.lst will be created, isn't like you need to read it.

[2021-04-14 23:50] Tfausx commented on #23
Yeah, it's not a JRPG, it's a visual novel who uses YU-RIS engine, and yeah, i also try to modify the dumped Strings.lst with the translation, but the game doesn't seems to recognize the changes xD

In any case, if you don't remember nothing about this, no problem!

[2021-04-15 00:31] #23 closed

[2021-05-09 12:03] hacker123-321 opened #24 "problem with the kirikiri text box"
Sorry for asking an unrelated issue. But I see you know quite well.

![Ảnh chụp màn hình (170)_LI](https://user-images.githubusercontent.com/68116972/117571816-53d96200-b0fa-11eb-87b2-5b99c8cc49de.jpg)

The above sentence is: "Hẳn mọi người tò mò về tên game phải không? Nhưng mà trước khi vào cốt truyện thì để tôi giới thiệu qua về em gái tôi cái đã."

the word "Không?" is not a line break as

[2021-05-09 13:13] marcussacana commented on #24
Try this method: https://lv1translator.wordpress.com/2014/05/15/word-wrapping-code-upload/

[2021-05-09 13:25] MyWork1908 commented on #24
I should replace mainwindow.tjs file into data.xp3 or put in patch.xp3
Have you seen data.xp3 file? it is encrypted.
name game: My.Little.Sister.Cant.Possibly.Have.a.Hemorrhoid

[2021-05-09 14:31] marcussacana commented on #24
patch.xp3 is enought usually, but I don't think you can just replace, that is a example, you will need to see what they did to fix and apply the same changes in the original mainwindow.tjs of your game.

[2021-05-09 15:25] MyWork1908 commented on #24
but the tjs files are encrypted

![Ảnh chụp màn hình (170)](https://user-images.githubusercontent.com/68116972/117577774-7036c800-b115-11eb-8f00-b913af60b045.png)

[2021-05-09 17:39] marcussacana commented on #24
Isn't encrypted, is compiled.
in this case will be hard to you do that alone, Sorry but I don't have time to do that as well,
What you can do is override the mainwindow instance to be able to modify the code.

[2021-05-09 17:39] #24 closed

[2021-05-10 15:55] hacker123-321 opened #25 "Problem with the kirikiri text box 2"
I found the tjs files are not compiled
it is here: https://drive.google.com/drive/folders/1j9_v3bdzS2iTc4GnBzVzCt3uJFBRid6d?usp=sharing

but now there are spaces between a word. that space is not present in the text file.

I edited many times but with no success.

![Ảnh chụp màn hình (181)_LI](https://user-images.githubusercontent.com/68116972/117686317-f23ff300-b1e0-11eb-8a39-f0f04acd6d4e.jpg

[2021-05-10 16:11] marcussacana commented on #25
looks like this problem occours only with special characters, try change to a monospaced font

[2021-05-13 11:23] MyWork1908 commented on #25
I tried changing the font but it didn't work
but you see this

it is messageslayer:
![Ảnh chụp màn hình (191)](https://user-images.githubusercontent.com/68116972/118119085-0883c400-b418-11eb-8e1d-17720af0734a.png)

and it is Historylayer:
![Ảnh chụp màn hình (192)](https://user-images.githubusercontent.com/68116972/118119153-22bda200-b418-11eb-8a80-1e9abcbd38f3.png)

Historylayer doesn't g

[2021-05-17 15:54] MyWork1908 commented on #25
please help me

[2021-05-17 23:30] marcussacana commented on #25
Not sure man

[2021-05-18 04:44] MyWork1908 commented on #25
I have found the solution. Thank you very much

[2021-05-18 04:44] #25 closed

[2021-05-29 21:26] Tfausx opened #26 "Request Shizuku Renewal Edition"
Hello Marcus, i hope you're having a nicely day, i was wondering if it possible to make a tools for this game:

Shizuku (renewal --remake-- edition),  I will give you the script and the font (if you need the whole game, i can upload it too)

The engine it's the same as used in all the "Leaf" games, i can open all the archives with garbro and the game recognizes the archives unpacked in the main fo

[2021-05-29 22:49] marcussacana commented on #26
if they use a custom font format will be hard, my time is very small to work with complex things, but I will take a look when I can

[2021-10-15 04:45] HoodedTissue opened #27 "Unable to Launch Reminiscence"
Sorry if this is a stupid question but I can't seem to get Reminiscence to get past importing all of the StringReloader files. I've put all of the files from the reminiscence.rar file into my reminiscence game directory but after the game imports the script files I get an error that I can't read because all of the text is garbled up. It seems to be saying that I'm missing a .cfg file but I'm not s

[2021-10-15 11:26] marcussacana commented on #27
read this http://web.archive.org/web/20201110064318/https://github.com/marcussacana/SacanaWrapper/issues/7
If I remeber well this game use this same engine, right?

[2021-10-16 01:07] HoodedTissue commented on #27
Hm, this issue thread seems to be about the Silky Engine which uses the .mes format for the script but Reminiscence uses the Majiro Engine which uses .mjo for the script format. Would I have to follow the patching guide mentioned in the issue thread?

[2021-10-16 01:23] marcussacana commented on #27
Nop, I just forgot the engine, this engine is a pain to translate ineed... try this https://github.com/trigger-segfault/MajiroTools

[2021-10-16 06:48] HoodedTissue commented on #27
Thank you, I got it to work! The tool was unable to extract three of the scripts but I was able to extract the three with this instead: https://github.com/Inori/FuckGalEngine/tree/master/Majiro/mjdev

[2021-10-16 06:48] #27 closed

[2021-11-20 17:35] Gygarde opened #28 "Game Request: Kimaten (Redirect font)"
Hello!

I want to redirect the font of this game. It uses Silky Engine (Same as Nanairo). .exe is [here](https://cdn.discordapp.com/attachments/754950553590825032/911670834890944572/kimaten.zip).

Let me know if you need something.

Thank you.

[2021-11-20 20:43] marcussacana commented on #28
Check if the SRL is loaded using the d3d9.dll as wrapper https://github.com/marcussacana/StringReloads

[2021-11-21 03:51] Gygarde commented on #28
@marcussacana It seems it detected it, but the game won't launch.

LOG:
[INF] SRL - StringReloads v7.5.2
[INF] Created by Marcussacana
[INF] SRL Initialized

[2021-11-21 03:57] marcussacana commented on #28
Should be because of the missing database, delete the Cache.srl file and create an empty Strings.lst file in the same folder of the Cache.srl file.

[2021-11-21 04:02] Gygarde commented on #28
Hmm, it just crashed

[2021-11-21 05:05] Gygarde commented on #28
@marcussacana I tried with several configurations in SRL, but no luck. Please check my file:

[2021-11-21 05:08] marcussacana commented on #28
but you tried delete the srl file and create the lst one?

[2021-11-21 05:09] marcussacana commented on #28
Also, test rename the d3d9.dll to dxgi.dll or dinput8.dll

[2021-11-21 05:13] Gygarde commented on #28
@marcussacana Yes, I tried.
![imagen](https://user-images.githubusercontent.com/38927751/142750465-6d61ab6b-f465-4bf6-b973-cd6d0d97a1ab.png)
Also tried with all wrappers, works  only with d3d9, but it crashes without starting. The game is x32, so I'm using the correct version of SRL (x86).

[2021-11-21 05:23] marcussacana commented on #28
Yep, then should require manual patching in the game executable... hmm
I will take a look when I can, if the game have any .dll file in his directory upload to me too.

[2021-11-21 05:37] Gygarde commented on #28
Just some from emote, but here you go anyway.
[kimaten.zip](https://github.com/marcussacana/Specific-Games/files/7575790/kimaten.zip)

Thank you.

[2021-11-23 21:23] CrAZONE0 commented on #20
@Tfausx Sorry, this is unrelated to your question. But how did you decrypt KnS3's .s files? I tried the igscript tool but it gave me empty .txt files

[2021-11-24 00:58] Gygarde commented on #28
@marcussacana Just an update: I can't use symbols inside the original script (the game just crash), so I think it needs more than just a font redirection. Do you think would be possible to use a DB (.lst) as usual?

[2021-11-24 01:20] marcussacana commented on #28
You can't put japanese characters?

[2021-11-24 01:41] Gygarde commented on #28
@marcussacana nope, the game has mapped characters. And I would need more useless characters to replace them with mine. (Adding more result in crash, btw)

` !"%'(),-.123456789
:?ABCDEFGHIJKLMNOPQR
STUVWXYZ\abcdefghijk
lmnopqrstuvwxyz·×—`

[2021-11-24 01:42] marcussacana commented on #28
What tool you're using?

[2021-11-24 01:45] Gygarde commented on #28
I extract with Garbro.
This for .MAP (Scripts): https://github.com/TesterTesterov/MAPTool/blob/main/MAPTool.py

[2021-11-24 02:11] marcussacana commented on #28
I never found a game using this file before, then I really don't know what we can do here.
The game don't accept japanese characters, this mean you're trying translate a english version of the game?
You tried make your patch based in the japanese release?

[2021-11-24 02:26] Gygarde commented on #28
Yeah, I'm trying with the english release. Maybe I can try to modify the japanese mapped characters, but I think I'm running out of options.

Edit: Tried, no luck.

[2021-11-26 01:21] MinscyBubu opened #29 "Game Request : Cross†Channel Final Complete"
Hello, there is a chance to create a new tool specifically for this version of the game? thanks

[2022-04-14 08:00] MishaIac opened #30 "Bypass new M2 crypt from KiriKiriZ engine"
Hi, Marcussacana. Saw on vndb that you are working as a programmer on the Spanish translation of [Cafe Stella](https://vndb.org/r88831). I have this question. How did you manage to bypass new M2 crypt? I tried different ways to bypass and it seems to work by dumping all files and then repack them into a new data.xp3 without encryption and using an exe file without encryption. However, to pack the

[2022-04-14 12:29] marcussacana commented on #30
I've determined that M2 has been exploiting the modding community and trying to come up with countermeasures for the tools as we publish, so I've decided not to make the tools completely public as long as they remain compatible with their latest releases.
However, the groups that I can determine are reliable in passing on the tools for translations, I'll help it, however, not immediately, due to s

[2022-04-14 13:08] javiert239 opened #31 "Missing names"
Hello Marcus, I hope you are well!

I tested the "Magical Mariage Lunatics" tool, and it works just fine.
However, there are three names I cannot translate, and neither can't find them in the scripts.
They are:
Yuuta's Father
Yuuta's Mother
Yuuna's Father

Also, I can't find the choices in the scripts, but if I write they manually, I can translate them without problema.
The issue is only with thos

[2022-04-14 13:35] marcussacana commented on #31
Looks like more a bad script dump.
If you write the missing names manually they can be translated?

[2022-04-14 13:45] javiert239 commented on #31
No. I already tried write them manually but didn't work.
Also, I used the rld manager to look for those names in all the scripts, but I just couldn't find them

[2022-04-14 14:02] marcussacana commented on #31
what SRL version you're using? I'm not sure how old is my Magical Marriage version.
show me the version number or a screenshot of the SRL.ini

[2022-04-14 18:01] javiert239 commented on #31
I don't know which version of SRL is, but the last modification date was on 12/3/2019.
Here a cap of the configuration:
![image](https://user-images.githubusercontent.com/35937688/163449046-c7b74028-997a-4320-800d-2372e5180108.png)

I just tried the last version from here:
https://github.com/marcussacana/StringReloads/releases/tag/7.5.9

I replaced the SRLx32.dll file for the SRLWrapper.dll, and c

[2022-04-14 18:30] javiert239 commented on #31
Quickly update.
I tried the new SRL tool in a fresh install of the game, and now the game works fine, but the SRL doesn't even generate the StringReloads folder.
If I rename the SRLWrapper.dll like d3d9.dll insteado SRLx32.dll, the StringReloads folder is genearated, but the games crashes.

[2022-04-14 18:32] marcussacana commented on #31
I see, try open the game executable with a hex editor, find VERSION.DLL in the executable, then change to something with the same length, like SRL_x32.dll and rename the SRLWrapper to the new name, like SRL_x32.dll for example.
Then try start the game.
Also, enable the logfile and set loglevel to TRC, maybe will show the reason to crash.
the LogLevel TRC should create a more detailed log file

[2022-04-14 18:44] javiert239 commented on #31
Now the game start without issue, but the SRL doesn't generate the StringReloads folder, nor a logfile.

And by the way, the game only crashes when I change the name of the SRLWrapper to d3d9.dll.

[2022-04-14 18:59] marcussacana commented on #31
try rename to dinput.dll or dxgi.dll as well.
Undo the VERSION.DLL changes in the executable as well.

[2022-04-14 19:02] javiert239 commented on #31
Done.
The same result, the game start without issue, but the SRL doesn't generate the StringReloads folder, nor a logfile.

[2022-04-14 19:06] marcussacana commented on #31
Add me on Discord Marcus André#0956

[2022-04-14 20:14] #31 closed

[2022-04-14 21:21] MishaIac commented on #30
I see. But I would like to clarify, do the tools that are used in the Spanish translation make an encrypted patch.xp3, or is something else used to bypass the protection? I'm just trying to write a tool myself right now, but I don't know what's the best way to spend my time. I checked and made sure that Cafe Stella uses the patch system, but the rest of VNs on this engine version have the patch sy

[2022-04-15 00:11] marcussacana commented on #30
continue the discussion on discord

[2022-04-15 00:11] #30 closed

[2022-08-10 08:43] GreenNBlacko commented on #1
Regarding CMVS image replacement

I was able to find [this](https://forums.fuwanovel.net/topic/25261-how-to-translate-cmvs-engine-games-purplesoftware/?tab=comments) post on translating CMVS engine VNs

It uses a different [tool](https://github.com/amayra/arc_conv) to edit the scripts([this](https://github.com/xmoeproject/CMVS-Engine) can be used too), however, I do believe that both SRL and this

[2022-08-10 11:42] GreenNBlacko commented on #1
After further investigation, I did have success with replacing images using SRL and [GARbro](https://github.com/morkt/GARbro)
![image](https://user-images.githubusercontent.com/45263750/183889176-c6a41168-fa29-4d1b-8e5a-1819bf77268f.png)

To use this technique, you first have to extract the archive you wish to replace images in(make sure to extract every file in the archive, as the archive will no

[2022-08-10 15:35] marcussacana commented on #1
That's news to me, I wasn't aware that is possible with SRL, thx for sharing.

[2022-08-11 08:40] Cosetto commented on #28
@Gygarde The new Silky's engine uses bitmap font, you need to find the font file somewhere like this
![image](https://user-images.githubusercontent.com/81801486/184095815-012d72ac-8ba4-4ed9-84a9-26adc48f65ff.png)
And for .MAP use [this](https://github.com/arcusmaximus/VNTranslationTools)

[2022-10-03 01:17] #26 closed